# standard debris
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.gz
*.orig
*~
\#*#
tags
TAGS
!.gitignore
!.mailmap
INSTALL
Makefile
Makefile.in
aclocal.m4
build-stamp
config.guess
config.log
config.status
config.sub
config/
configure
debian/files
debian/vyatta-cron.debhelper.log
debian/vyatta-cron.substvars
debian/vyatta-cron/
